#aside_navigation {
position: absolute;
top: 0;
right: -2%;
z-index: 100;
opacity: 0.5;
transition: 0.5s;
}

#aside_navigation:hover {
    opacity: 1;
}

#aside_navigation nav {
position: fixed;
top: 50%;
transform: translate(-160%, -50%);
}

#aside_navigation a {
display: block;
width: 3px;
height: 3px;
margin: 20px 0;
background: none;
border-radius: 50%;
outline: 3px solid transparent;
border: 2px solid #3A30F8;
}

#aside_navigation a:hover {
    border-color: #221c8d;
    opacity: 1;
}

#aside_navigation nav::before {
    content: "";
    position: absolute;
    top:0;
    left:50%;
    width: 0;
    height: 200%;
    max-height: 500px;
    border-left: 2px solid #3A30F8;
    transform: translate(-50%, -105%);
}
#aside_navigation nav::after {
    content: "";
    position: absolute;
    bottom:0;
    left:50%;
    width: 0;
    height: 200%;
    max-height: 500px;
    border-left: 2px solid #3A30F8;
    transform: translate(-50%, 105%);
}